<div id="appmeta-phone" class="template screen" type="appmeta">
  <div class="preview-phone__header">
    <div id="caption" class="name__long">TITLE</div>
  </div>
  <div class="preview-phone__body">
    <div id="image">
      <img id="full-image" src="../app-framework/test_image.jpg" alt="IMAGE">
    </div>
    <div class="box-info">
      <div id="language" class = "meta-token">LANGUAGE</div>
      <div id="audience" class = "meta-token">AUDIENCE</div>
      <div id="content"  class = "meta-token">CONTENT</div>
    </div>

    <div class="app-content-type">
      <div id="colour"></div>
      <div class="content-guide" hidden>
        <i class="fas fa-map-signs"></i>
      </div>

      <div class="content-explore" hidden>
        <i class="fas fa-binoculars"></i>
      </div>
    </div>
  </div>
  <!-- The preview for in app navigation. -->
  <div class="preview-phone__footer">
    <i class="fas fa-info fa"></i>
    <i class="fas fa-clock"></i>
    <i class="fas fa-money-bill-wave"></i>
  </div>
</div>
