<div id="quiz-phone" class="template screen" type="question" layout="image">
  <div class="preview-phone__header">

  </div>
  <div class="preview-phone__body">
    <div id="question">QUESTION</div>
    <div id="image">
      <img id="full-image" src="#" alt="IMAGE" />
    </div>
    <div class="answers">
      <div id="right" class="answer right">RIGHT</div>
      <div id="false_1" class="answer wrong">FALSE</div>
      <div id="false_2" class="answer wrong">FALSE</div>
      <div id="false_3" class="answer wrong">FALSE</div>
    </div>
  </div>
  <div id="footer" class="preview-phone__footer">
  </div>
</div>