<div id="hours-phone" class="template screen" type="hours">
  <div class="preview-phone__header">
    <div id="caption" class="name__long"></div>
  </div>
  <div class="preview-phone__body">
    <div id="monday" class="hours_day" closed="false">
      <div class="weekday">
        MONDAY
      </div>
      <div class="times">
        <div id="opening_time">
          OPENING TIME
        </div>
        <div>-</div>
        <div id="closing_time">
          OPENING TIME
        </div>
      </div>
      <div class="closed_box">
        <div> <i class="far fa-times-circle"></i> </div>
      </div>
      <div id="closed" class="hidden"> </div>
    </div>

    <div id="tuesday" class="hours_day" closed="false">
      <div class="weekday">
        TUESDAY
      </div>
      <div class="times">
        <div id="opening_time">
          OPENING TIME
        </div>
        <div>-</div>
        <div id="closing_time">
          OPENING TIME
        </div>
      </div>
      <div class="closed_box">
        <div> <i class="far fa-times-circle"></i> </div>
      </div>
      <div id="closed" class="hidden"> </div>
    </div>

    <div id="wednesday" class="hours_day" closed="false">
      <div class="weekday">
        WEDNESDAY
      </div>
      <div class="times">
        <div id="opening_time">
          OPENING TIME
        </div>
        <div>-</div>
        <div id="closing_time">
          OPENING TIME
        </div>
      </div>
      <div class="closed_box">
        <div> <i class="far fa-times-circle"></i> </div>
      </div>
      <div id="closed" class="hidden"> </div>
    </div>

    <div id="thursday" class="hours_day" closed="false">
      <div class="weekday">
        THURSDAY
      </div>
      <div class="times">
        <div id="opening_time">
          OPENING TIME
        </div>
        <div>-</div>
        <div id="closing_time">
          OPENING TIME
        </div>
      </div>
      <div class="closed_box">
        <div> <i class="far fa-times-circle"></i> </div>
      </div>
      <div id="closed" class="hidden"> </div>
    </div>

    <div id="friday" class="hours_day" closed="false">
      <div class="weekday">
        FRIDAY
      </div>
      <div class="times">
        <div id="opening_time">
          OPENING TIME
        </div>
        <div>-</div>
        <div id="closing_time">
          OPENING TIME
        </div>
      </div>
      <div class="closed_box">
        <div> <i class="far fa-times-circle"></i> </div>
      </div>
      <div id="closed" class="hidden"> </div>
    </div>

    <div id="saturday" class="hours_day" closed="false">
      <div class="weekday">
        SATURDAY
      </div>
      <div class="times">
        <div id="opening_time">
          OPENING TIME
        </div>
        <div>-</div>
        <div id="closing_time">
          OPENING TIME
        </div>
      </div>
      <div class="closed_box">
        <div> <i class="far fa-times-circle"></i> </div>
      </div>
      <div id="closed" class="hidden"> </div>
    </div>

    <div id="sunday" class="hours_day" closed="false">
      <div class="weekday">
        SUNDAY
      </div>
      <div class="times">
        <div id="opening_time">
          OPENING TIME
        </div>
        <div>-</div>
        <div id="closing_time">
          OPENING TIME
        </div>
      </div>
      <div class="closed_box">
        <div> <i class="far fa-times-circle"></i> </div>
      </div>
      <div id="closed" class="hidden"> </div>
    </div>

  </div>
  <div class="preview-phone__footer"></div>
</div>
