<header id="app__header">

  <div id="caption">${labels.legal}</div>

</header>
<div id="app__body">
  <div id="logos">

      <img src="assets/pccr.png" alt="PCCR">
  <div class="legal__row">
    <img src="assets/visit.png" alt="ViSIT">
    <img  src="assets/interreg.png" alt="interreg">
  </div>


  </div>
  <div id="text" class="text__short">${labels.legalText}</div>
  <div class="user_info">
    <div id="creator_mail">${creatorData.username}</div>
    <div id="text" class="text__short">${labels.emailLabel}</div>
    <div id="creator_mail">${creatorData.email}</div>
    <div id="text" class="text__short">${labels.orgaLabel}</div>
    <div id="creator_mail">${creatorData.organization}</div>
  </div>


</div>

<footer id="app__footer"></footer>
