<header id="app__header">
  <div id="caption" class="name__long">${data.caption}</div>
</header>
<div id="app__body">
  <div id="monday" class="hours_day" closed="${data.monday.closed}">
    <div class="weekday">
      ${labels.monday}
    </div>
    <div class="times">
      <div id="opening_time">${data.monday.opening_time}</div>
      <div>-</div>
      <div id="closing_time">${data.monday.closing_time}</div>
    </div>
    <div class="closed_box">
      <div> ${labels.closed} </div>
    </div>
  </div>

  <div id="tuesday" class="hours_day" closed="${data.tuesday.closed}">
    <div class="weekday">
      ${labels.tuesday}
    </div>
    <div class="times">
      <div id="opening_time">${data.tuesday.opening_time}</div>
      <div>-</div>
      <div id="closing_time">${data.tuesday.closing_time}</div>
    </div>
    <div class="closed_box">
      <div> ${labels.closed} </div>
    </div>
    <div id="closed" class="hidden"> </div>
  </div>

  <div id="wednesday" class="hours_day" closed="${data.wednesday.closed}">
    <div class="weekday">
      ${labels.wednesday}
    </div>
    <div class="times">
      <div id="opening_time">${data.wednesday.opening_time}</div>
      <div>-</div>
      <div id="closing_time">${data.wednesday.closing_time}</div>
    </div>
    <div class="closed_box">
      <div> ${labels.closed} </div>
    </div>
    <div id="closed" class="hidden"> </div>
  </div>

  <div id="thursday" class="hours_day" closed="${data.thursday.closed}">
    <div class="weekday">
      ${labels.thursday}
    </div>
    <div class="times">
      <div id="opening_time">${data.thursday.opening_time}</div>
      <div>-</div>
      <div id="closing_time">${data.thursday.closing_time}</div>
    </div>
    <div class="closed_box">
      <div> ${labels.closed} </div>
    </div>
    <div id="closed" class="hidden"> </div>
  </div>

  <div id="friday" class="hours_day" closed="${data.friday.closed}">
    <div class="weekday">
      ${labels.friday}
    </div>
    <div class="times">
      <div id="opening_time">${data.friday.opening_time}</div>
      <div>-</div>
      <div id="closing_time">${data.friday.closing_time}</div>
    </div>
    <div class="closed_box">
      <div> ${labels.closed} </div>
    </div>
    <div id="closed" class="hidden"> </div>
  </div>

  <div id="saturday" class="hours_day" closed="${data.saturday.closed}">
    <div class="weekday">
      ${labels.saturday}
    </div>
    <div class="times">
      <div id="opening_time">${data.saturday.opening_time}</div>
      <div>-</div>
      <div id="closing_time">${data.saturday.closing_time}</div>
    </div>
    <div class="closed_box">
      <div> ${labels.closed} </div>
    </div>
    <div id="closed" class="hidden"> </div>
  </div>

  <div id="sunday" class="hours_day" closed="${data.sunday.closed}">
    <div class="weekday">
      ${labels.sunday}
    </div>
    <div class="times">
      <div id="opening_time">${data.sunday.opening_time}</div>
      <div>-</div>
      <div id="closing_time">${data.sunday.closing_time}</div>
    </div>
    <div class="closed_box">
      <div> ${labels.closed} </div>
    </div>
    <div id="closed" class="hidden"> </div>
  </div>

</div>
<footer id="app__footer"></footer>
