/* kss documentation */

// BooleanInput
//
// The BooleanInput offers a field for entering a boolean.<br>
// <br>
// It contains the following elements:
// <br>
//  element             | description
// ---------------------| ---------------
//  {.form-placeholder} | label for the input boolean.
//  {.booleanInput}     | the input field.
//  {.form-description} | contains text describing the desired input value.
//  {.form-constraints} | contains text describing the constraints for the input field.
//
// The outer container has class {.booleanBox}.
//
// Markup: ./templates/boolean-input.html
//
// Style Guide: input.BooleanInput
/* /END/  */

* {}

.booleanBox {
  display: grid;
  grid-template: [row1-start] "placeholder input input" [row1-end] [row2-start] "description constraints constraints" [row2-end];
}

.booleanInput {
  grid-area: input;
  height: 25px;
  width: 25px;
}
