<div id="person-phone" class="template screen" type="person" layout="image">
  <div class="preview-phone__header">
    <div id="name" class="name__long"></div>
    <i id="phone-header-icon" class="fas fa-walking"></i>
  </div>
  <div class="preview-phone__body">
    <div id="image">
      <img id="full-image" src="#" alt="IMAGE" />
    </div>

    <div class="info_box">
      <div class="date">
        <i class="fas fa-star-of-life"></i>
        <div id="birth_date"></div>
        <div id="anno_birth"></div>
      </div>
      <div class="date">
        <i class="fas fa-skull"></i>
        <div id="death_date"></div>
        <div id="anno_death"></div>
      </div>
    </div>

    <div class="__array">
      <i class="fas fa-key"></i>
      <div id="keywords" class="keyword_box">
        <div id="keyword"></div>
      </div>
    </div>

    <div id="text"></div>

  </div>
  <div class="preview-phone__footer"></div>
</div>