<div id="info-phone" class="template screen" type="info">
  <div class="preview-phone__header">
    <div id="logo">
      <img id="logo-image" src="../app-framework/test_image.jpg" alt="LOGO">
    </div>

    <div id="caption" class="name__long name--logo"></div>

  </div>
  <div class="preview-phone__body">

    <div id="image">
      <img id="full-image" src="../app-framework/test_image.jpg" alt="IMAGE">
    </div>

    <div id="map">
      <div id="location">
        <div id="latitude"> </div>
        <div id="longitude"> </div>
      </div>
    </div>


    <div id="text" class="text__short"></div>

  </div>
  <div class="preview-phone__footer"></div>
</div>
