<div id="admission-phone" class="template screen" type="admission" layout="basic">
  <div class="preview-phone__header">
    <div id="caption" class="name__long">TITLE</div>
  </div>
  <div class="preview-phone__body">

    <div class="__array">
      <div id= "rate" class="rate_box">
        <div id="name">
          RATE NAME
        </div>
        <div class="price">
        <div id="amount">123</div>
        <div id="currency">€</div>
        </div>
      </div>
    </div>

  </div>
  <div class="preview-phone__footer"></div>
</div>
