<div id="event-phone" class="template screen" type="event">
  <div class="preview-phone__header">
    <div id="name" class="name__long"></div>
    <i id="phone-header-icon" class="far fa-calendar-alt"></i>
  </div>
  <div class="preview-phone__body">


    <div class="date">
      <i class="fas fa-hourglass-start"></i>
      <div id="start_date"></div>
      <div id="anno_start"></div>
    </div>
    <div class="date">
      <i class="fas fa-hourglass-end"></i>
      <div id="end_date"></div>
      <div id="anno_end"></div>
    </div>

    <div id="location_name"></div>

    <div class="__array">
      <i class="fas fa-key"></i>
      <div id="keywords" class="keyword_box">
        <div id="keyword"></div>
      </div>
    </div>

    <div id="text"></div>

  </div>
  <div class="preview-phone__footer"></div>
</div>