<div class="template">
  <div class="page-select">
    <div class="pageSelect-imageContainer">
      <i class="pageSelect-image fa-3x"></i>
    </div>
    <div class="pageSelectContent">
      <div class="pageSelect-title">Title</div>
      <div class="pageSelect-subtitle">Subtitle</div>
      <div class="pageSelect-text">Description Text</div>
    </div>

    <div class="pageSelect-buttons">
      <button class="btn button pageSelect-target create-button" onclick="Cards.click_createPageForm(this)">ADD</button>
      <button class="btn button pageSelect-target more-button" onclick="Cards.click_showPageOptions(this)">MORE...</button>
    </div>

  </div>
</div>
