<div id="image" class="template">
  <div class="imageBox pccr-data">
    <label class="form-placeholder">IMAGE</label>
    <input class="imageInput" type="file" accept="image/png, image/jpeg" tabindex="-1" />
    <button class="btn imageInputLabel">
    <i class="fas fa-upload"></i>
    <label class="imageInputButton">CHOOSE A FILE</label>
    </button>
    <img class="imagePreview" src="#" />

    <div class="form-description">DESCRIPTION</div>
    <div class="form-constraints">CONSTRAINTS</div>
  </div>
</div>